{% extends 'todos/base.html' %} {% block content %}

<div class="d-flex flex-column align-items-center mt-3">
  <h3>Your Todos</h3>
  <hr />
  {% for todo in todos %}
  <div class="card mt-1 mb-2 col-sm-12 col-md-6 custom-width">
    <div class="card-body d-flex justify-content-between">
      <p class="card-text">
        {% if todo.completed %}
        <del>{{todo.title}}</del>
        {% else %} {{todo.title}} {% endif %}
      </p>
      <div class="">
        {% if todo.completed %}
        <a href="{% url 'todos:todo-update-status' todo.id %}" class="btn btn-warning"
          >Set Incomplete</a
        >
        {% else %}
        <a href="{% url 'todos:todo-update-status' todo.id %}" class="btn btn-success"
          >Set Completed</a
        >
        {% endif %}
        <a href="{% url 'todos:todo-delete' todo.id %}" class="btn btn-danger"
          >Delete</a
        >
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock content %}
